/* Combinators Selectors */
/* Important for interviews */

/* Below Code will select all p */
/* div p{
    background-color: aqua;
} */

/* If we want to apply on first child and siblings then use  */ 
/*Direct Child Selector*/
div > p{
    background-color: yellow;
}/*so now this will applied on 1 2 3 only like flex direct child only 
not descendants*/


/* General Sibling selector */
/*Adjacent Following Sibling Selector*/
div + h1{
    background-color: green;
}/*only selects next sibling only(following sibling) */

/*selects all sibling after div only */
/*General following Sibling Selector*/
div ~ h1{
    background-color: blue;
}