/*We could have used position also but that will be harder than this 
as we will be calculating the pixels everytime*/ 
.whitebox{
    width:1000px;
    height:600px;
    background-color: white;
    border: 3px solid black;
    display: flex; /*flex makes the container. Sets flexible length on flexible items and works only on first child and its siblings */
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:200px;
}
.outerbox{
    width:960px;
    height:540px;
    background-image:linear-gradient(to bottom right, red, blue);
    display: flex;             /* with flex only we can get align-items, justify-content etc */
    justify-content: center;   /* horizontal aligning */
    align-items: center;       /* vertical aligning */
}
.innerbox{
    width:600px;
    height:400px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width:500px;
    height: 60px; 
    background-color: white;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content:space-evenly;
    /* ^ Equal space everywhere*/
    border-radius: 35px;
}
.a{
    font-weight: 500;
    color:red;
    font-size:xx-large;
}
.fa-xmark{
    background-color: black;
}