/*We should have used position also*/ 
.whitebox{
    width:1000px;
    height:600px;
    background-color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:200px;
}
.outerbox{
    width:960px;
    height:540px;
    background-image:linear-gradient(to bottom right, red, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerbox{
    width:600px;
    height:400px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    width:500px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    border-radius: 35px;
    padding: 10px 10px;
}
.fa-xmark{
    background-color: black;
}