/* 1) Making Variables */
:root{    /* root is used to make variable */
    --varone: rgb(13, 13, 29);     /* variable name then property */
}
.one{
    height: 500px;
    width: 1900px;
    background-color: var(--varone);
/* This leads to the distortion in size when the screen size changes(which is very common
today as we see websites on various devices) so, to overcome this issue we use ranges
for the different devices */
}
@media(min-width: 640px)
/* @media (min-width: 640px) and (max-width: 767px) If need code to be merged */
/* This condition changes width if screen width in more than 640px.
640px is generally taken while sometimes it can be 480px*/
{
    .one
    {
        width:400px;
    }
}

@media (min-width: 768px)/* For the TAB screens and this values always remain same */
{
    .one
    {
        width:600px;
    }
}
@media (min-width:1024px)/* For Laptop's screen */
{
    .one
    {
        width:800px;
    }
}
@media (min-width:1200px)
{
    .one
    {
        width: 1000px;
    }
}
.two
{
    width: 200px;
    height: 200px;
    background-color: red;
    float:left;
    /* element with floating value is assumed by next element like it is not present */
}
.three
{
    width: 200px;
    height: 300px;
    background-color:green;
    float:right;
    /* This box is assuming like red box do not exist when we moved it right we can see it 
    occupied red box portion */
}
.four
{
    width: 200px;
    height: 400px;
    background-color:blue;
    /* blue box will take 200px of red one also */
    clear: left; 
    /* properties: clear: left; right; both; default-none */
    /* clear: "position" will make sure that no other float element come at the mentioned
    position of this element. so, If we apply clear left it will make sure red box should not
    be at left so blue box will start taking value from next line*/
    /* clear: right; */
    /* if we apply clear right it will start taking value from leaving area of green one also */
    float:left;
    /* if we do this float left without any clear then it will come to the side of red 
    It will not overlap property consider this like div */
}