/* 1) CSS Selector */
*
{
    color: red
}
h1
{
    background-color: aqua;
}
.one
{
    background-color: violet;
}
h2, h3 /* Multiple Selectors */
{
    background-color: antiquewhite;
}
div h1
{
    background-color: brown;
}
h1.two /* h1 with class two */
{
    background-color: orange;
}
