*{
    font-size:20px;
    margin:0;/* By default some margin is always there so we generally remove that */
    padding:0;
    box-sizing: border-box;/* this box-sizing helps in fixing 
    the width so that all padding are included in that width only  */
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    /* while scrolling down the website how to move on */
}
/* Do till in every website  */
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
li{
    padding: 0px 2rem;   
            /* top left  */
}
header{
    position:fixed; /* we don't want our navbar do change on hover or anything else  */
    top:0px;left:0px;right:0px;    /* to make it attach to top  */
    display: flex;    /* As we needed to bring all these in one line  */
    /* align-items: center; */
    justify-content:space-between;
    background-color: rgb(201, 163, 113);
    padding:1rem 10%;
}
.btn{
    border:none;
    background-color: rgb(242,109,109);
    padding: 5px 5px;
}
.fa-bars{
    border:1px solid black;
    font-size:1rem;
    border-radius:5px;
    padding: 4px 8px;
    display: none; /* as we don't want to see this icon if screen size is sufficient  */
}
.home{
    display: flex;
    align-items: center;
    background-image: url('resources/img5.jpg');
    max-height:600px;
}
.info{
   max-width: 49%;
   padding:10rem 9%;
}
h2{
    font-size:2rem;
    padding:2rem 0;
    /* padding given top also implies bottom directly */
}
@media(max-width:991px){
    
}
@media(max-width:768px){
    .fa-bars{
        display:block;
        /* we will use js for bring all the others things under navbar  */
        /* for now we are not displaying them */
    }
    .navbar{
        display:none;
    }
}
