/* 1. Background Properties  */

.one{
    height: 700px;
    width:900px;
    background-color: aqua;
    background-image: url('resources/flower.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /* background: orange url('resources/flower.jpg') no-repeat top right; */

    /*
       (center center)  */
}

/* 2. Border  */


.two{
    width:200px;
    height:200px;
    background-color: bisque;
    border-style:solid;
    border-width: 5px;
    border-color: red;
    border: 10px solid green;
    border-right-style: dotted;
    border-radius: 20px;
    /* border-radius: 50%; */

    /* margin  */


   margin-top: 50px;
   margin-left: 100px;
   margin: 200px 200px;
   margin: auto;
   margin-bottom: 100px;



}

.three{
    background-color: aqua;
    width: 200px;
    height:200px;
    margin: auto;
    margin-top: 100px;y w
    /* visibility: hidden;
    display: none; */
    /* display : none makes box invisible and space too  */
}


/* 1. (side margin is collapsible or not ?) */

/* (vertical margin is collapsed) : when we have two margins bottom and top at the vertical end the maximum of two will only be there it means they will overlap*/

.four{
    height: 200px;
    width:200px;
    background-color: grey;
    border: 5px solid red;
    padding: 10px;
    padding-left: 20px;
    overflow: auto;
    box-sizing: border-box; /* padding do not take extra space */ 

}

.five{
    width: 300px;
    height:300px;
    background-color: red;
    margin-left: 100px;
    position: relative;
    top:100px;   
    left:100px;
}

.seven {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top:100px;
    right:0px;
    
}


.six{
    width:200px;
    height:200px;
    background-color: blue;
    position: fixed;
    top:0px;
    right:0px;
}

.eight{
    width: 300px;
    height: 200px;
    border: 10px solid black;
    background-color: green;
    position: relative;
    top: 100px;
    z-index: 10;
}
.nine{
    width: 300px;
    height: 200px;
    border: 10px solid black;
    background-color: rgb(0, 255, 85);
    position: relative;
    z-index: 1; /* element with higher z-index value will come up */
}


.form {
    width:700px;
    margin: auto;
}

form{
    margin-top: 300px;
}

h1{
    text-align: center;
}

input[type=text]{

    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

textarea{
    width:100%;
    resize: none;    /* text area will not be movable */
}

input[type=tel]{
    width:100%;
}
input[type=tel]:focus{    /* describe state when we are on this field */
    background-color: rgb(152, 206, 66);
}